html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #1f3756, #141539);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app-container .header {
  margin: 1rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 0.5rem solid #606e85;
  border-radius: 1rem;
  z-index: 111;
}
.app-container .header .stat {
  width: 5rem;
  height: 7rem;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
}
.app-container .header .stat .scr-title {
  color: #2a46c0;
  font-weight: 600;
}
.app-container .header .stat .scr-val {
  font-size: 1.5rem;
  color: #3b4363;
  transform: scaleY(1.3);
  margin: 0;
}
.app-container .paper-icon {
  top: -10rem;
  left: -12rem;
  border: 1.5rem solid #5671f5;
  box-shadow: 0px 5px #4865f4, 0px 5px lightgrey inset;
}
.app-container .scissors-icon {
  top: -10rem;
  left: 2rem;
  border: 1.5rem solid #eca922;
  box-shadow: 0px 5px #ec9e0e, 0px 5px lightgrey inset;
}
.app-container .rock-icon {
  top: 2rem;
  left: -5rem;
  border: 1.5rem solid #dd405d;
  box-shadow: 0px 8px #dc2e4e, 0px 8px lightgrey inset;
}
.app-container .win-paper {
  box-shadow: 0px 5px #4865f4, 0px 5px lightgrey inset, 0 0 0 2rem #2a3352, 0 0 0 4rem #232e4c, 0 0 0 6rem #1f2a4a;
}
.app-container .win-rock {
  box-shadow: 0px 5px #dc2e4e, 0px 5px lightgrey inset, 0 0 0 2rem #2a3352, 0 0 0 4rem #232e4c, 0 0 0 6rem #1f2a4a;
}
.app-container .win-scissors {
  box-shadow: 0px 5px #ec9e0e, 0px 5px lightgrey inset, 0 0 0 2rem #2a3352, 0 0 0 4rem #232e4c, 0 0 0 6rem #1f2a4a;
}
.app-container .win-paper,
.app-container .win-rock,
.app-container .win-scissors {
  z-index: -999;
}
.app-container .main {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-container .main .bgTriange {
  z-index: -1;
}
.app-container .main .icons {
  position: absolute;
}
.app-container .main .icons button {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  outline-style: none;
}
.app-container .main .icons button:focus {
  padding: 3rem;
}
.app-container .playGame,
.app-container .playGameNeutral {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@keyframes MoveUpDown {
  0%, 100% {
    margin-top: 20px;
  }
  50% {
    margin-top: 0px;
  }
}
.app-container .playGameNeutral .pickedByPlayerNeutral,
.app-container .playGameNeutral .pickedByHouseNeutral {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(90deg);
  animation-name: MoveUpDown;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.app-container .playGameNeutral .pickedByHouseNeutral {
  transform: scaleX(-1) rotate(90deg);
}
.app-container .playGameNeutral img {
  border-radius: 50%;
  width: 6rem;
}
.app-container .playGame {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.app-container .playGame .pickedByPlayer,
.app-container .playGame .pickedByHouse {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-container .playGame .result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}
.app-container .playGame .result-container button,
.app-container .playGame .result-container h1 {
  transform: scaleY(1.2) !important;
}
.app-container .playGame .result-container button {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  color: #3b4363 i !important;
  transform: scaleY(1);
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.app-container .playGame img {
  border-radius: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 50%;
}
.app-container .playGame p {
  font-weight: 800;
  color: white;
}
.app-container footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  position: fixed;
  bottom: 5%;
}
.app-container footer .btnRules {
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.app-container footer .btnRules:focus {
  background-color: white;
  color: #1f3756;
}
.app-container footer .modalBox {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}
.app-container footer .modalBox .rules-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.app-container footer .modalBox .rules-container h1 {
  color: #3b4363;
  transform: scaleY(1.3);
}
.app-container footer .modalBox .rules-container button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media all and (min-width: 769px) {
  .app-container > .header {
    width: 50%;
  }
  .app-container > .header .stat {
    width: 8rem;
    height: 8rem;
  }
  .app-container > .header .stat .scr-title {
    letter-spacing: 0.1rem;
  }
  .app-container > .header .stat .scr-val {
    font-size: 3rem;
    transform: scaleY(1.5);
  }

  .win-paper {
    box-shadow: 0px 5px #4865f4 0px 5px lightgrey inset, 0 0 0 4rem #2a3352, 0 0 0 8rem #232e4c, 0 0 0 12rem #1f2a4a;
  }

  .win-rock {
    box-shadow: 0px 5px #dc2e4e 0px 5px lightgrey inset, 0 0 0 4rem #2a3352, 0 0 0 8rem #232e4c, 0 0 0 12rem #1f2a4a;
  }

  .win-scissors {
    box-shadow: 0px 5px #ec9e0e 0px 5px lightgrey inset, 0 0 0 4rem #2a3352, 0 0 0 8rem #232e4c, 0 0 0 12rem #1f2a4a;
  }

  .app-container > .playGame {
    justify-content: center;
  }
  .app-container > .playGame .pickedByPlayer,
.app-container > .playGame .pickedByHouse {
    flex-direction: column-reverse;
    width: 15%;
  }
  .app-container > .playGame .pickedByHouse {
    order: 3;
  }
  .app-container > .playGame .result-container {
    order: 2;
    width: 25%;
  }

  .app-container > footer {
    align-self: flex-end;
    margin-right: 2rem;
    height: 20vh;
    margin-bottom: 0;
  }
  .app-container > footer .modalBox {
    background-color: white;
    position: fixed;
    top: 30%;
    left: 35%;
    height: 50vh;
    width: 30vw;
    z-index: 999;
    border-radius: 15px;
  }
  .app-container > footer .modalBox .rules-container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .app-container > footer .modalBox .rules-container .heading {
    order: 1;
    flex-basis: 50%;
    padding: 1rem;
    margin: auto;
  }
  .app-container > footer .modalBox .rules-container .btnClose {
    order: 2;
    flex-basis: 50%;
    margin: auto;
  }
  .app-container > footer .modalBox .rules-container .btnClose img {
    float: right;
    padding-right: 2rem;
  }
  .app-container > footer .modalBox .rules-container .img-rules {
    margin: auto;
    order: 3;
  }
}

/*# sourceMappingURL=index.css.map */
