@use 'base';
@use 'variables' as vars;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    vars.$radial-gradient1,
    vars.$radial-gradient2
  );
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .header {
    margin: 1rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 0.5rem solid #606e85;
    border-radius: 1rem;
    z-index: 111;
    .stat {
      width: 7rem;
      height: 7rem;
      background-color: white;
      border-radius: 1rem;
      text-align: center;
      display: flex;
      &__games-won {
        border-right: 1px dashed #2a46c0;
      }
      &__title {
        color: vars.$score-text;
        font-weight: 600;
        font-size: 0.8rem;
        padding: 0 0.1rem;
      }
      &__value {
        font-size: 1.5rem;
        color: vars.$dark-text;
        transform: scaleY(1.3);
        margin: 0;
      }
    }
  }

  .paper-icon {
    top: -10rem;
    left: -12rem;
    border: 1.5rem solid vars.$paper-gradient2;
    box-shadow: 0px 5px vars.$paper-gradient1, 0px 5px lightgrey inset;
  }
  .scissors-icon {
    top: -10rem;
    left: 2rem;
    border: 1.5rem solid vars.$scissors-gradient2;
    box-shadow: 0px 5px vars.$scissors-gradient1, 0px 5px lightgrey inset;
  }
  .rock-icon {
    top: 2rem;
    left: -5rem;
    border: 1.5rem solid vars.$rock-gradient2;
    box-shadow: 0px 8px vars.$rock-gradient1, 0px 8px lightgrey inset;
  }
  .win-paper {
    box-shadow: 0px 5px vars.$paper-gradient1, 0px 5px lightgrey inset,
      0 0 0 2rem #2a3352, 0 0 0 4rem #232e4c, 0 0 0 6rem #1f2a4a;
  }
  .win-rock {
    box-shadow: 0px 5px vars.$rock-gradient1, 0px 5px lightgrey inset,
      0 0 0 2rem #2a3352, 0 0 0 4rem #232e4c, 0 0 0 6rem #1f2a4a;
  }
  .win-scissors {
    box-shadow: 0px 5px vars.$scissors-gradient1, 0px 5px lightgrey inset,
      0 0 0 2rem #2a3352, 0 0 0 4rem #232e4c, 0 0 0 6rem #1f2a4a;
  }
  .win-paper,
  .win-rock,
  .win-scissors {
    z-index: -999;
  }

  .main {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .bgTriange {
      z-index: -1;
    }
    .icons {
      position: absolute;

      button {
        position: absolute;
        border-radius: 50%;
        background-color: white;
        padding: 2rem;
        border-radius: 50%;
        cursor: pointer;
        outline-style: none;
      }
      button:focus {
        padding: 3rem;
      }
    }
  }
  .playGame,
  .playGameNeutral {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      margin-top: 20px;
    }
    50% {
      margin-top: 0px;
    }
  }
  .playGameNeutral {
    .pickedByPlayerNeutral,
    .pickedByHouseNeutral {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: rotate(90deg);
      animation-name: MoveUpDown;
      animation-duration: 0.5s;
      animation-iteration-count: 3;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
    .pickedByHouseNeutral {
      transform: scaleX(-1) rotate(90deg);
    }
    img {
      border-radius: 50%;
      width: 6rem;
    }
  }

  .playGame {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .pickedByPlayer,
    .pickedByHouse {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .result-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: white;

      button,
      h1 {
        transform: scaleY(1.2) !important;
      }

      button {
        padding: 1rem;
        border: 1px solid white;
        border-radius: 10px;
        color: vars.$dark-text i !important;
        transform: scaleY(1);
        background-color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
    }
    img {
      border-radius: 50%;
      background-color: white;
      padding: 2rem;
      border-radius: 50%;
    }

    p {
      font-weight: 800;
      color: white;
    }
  }
  .attribution {
    color: white;
    position: fixed;
    bottom: 1rem;
    text-transform: none;
    a {
      color: vars.$rock-gradient1;
      text-decoration: none;
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    position: fixed;
    bottom: 5%;

    .btnRules {
      padding: 1rem 2rem;
      border: 1px solid white;
      border-radius: 10px;
      text-decoration: none;
      color: white;
      background-color: transparent;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      cursor: pointer;
    }

    .btnRules:focus {
      background-color: white;
      color: vars.$radial-gradient1;
    }

    .modalBox {
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 999;

      .rules-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        h1 {
          color: vars.$dark-text;
          transform: scaleY(1.3);
        }
        button {
          cursor: pointer;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}

@media all and (min-width: 769px) {
  .app-container > .header {
    width: 50%;
    .stat {
      width: 11rem;
      height: 8rem;
      &__title {
        padding: 0 0.3rem;
        letter-spacing: 0.1rem;
      }
      &__value {
        font-size: 3rem;
        transform: scaleY(1.4);
      }
    }
  }

  .win-paper {
    box-shadow: 0px 5px vars.$paper-gradient1 0px 5px lightgrey inset,
      0 0 0 4rem #2a3352, 0 0 0 8rem #232e4c, 0 0 0 12rem #1f2a4a;
  }
  .win-rock {
    box-shadow: 0px 5px vars.$rock-gradient1 0px 5px lightgrey inset,
      0 0 0 4rem #2a3352, 0 0 0 8rem #232e4c, 0 0 0 12rem #1f2a4a;
  }
  .win-scissors {
    box-shadow: 0px 5px vars.$scissors-gradient1 0px 5px lightgrey inset,
      0 0 0 4rem #2a3352, 0 0 0 8rem #232e4c, 0 0 0 12rem #1f2a4a;
  }

  .app-container > .playGame {
    justify-content: center;
    .pickedByPlayer,
    .pickedByHouse {
      flex-direction: column-reverse;
      width: 15%;
    }
    .pickedByHouse {
      order: 3;
    }

    .result-container {
      order: 2;
      width: 25%;
    }
  }
  .app-container > footer {
    align-self: flex-end;
    margin-right: 2rem;
    height: 20vh;
    margin-bottom: 0;
    .modalBox {
      background-color: white;
      position: fixed;
      top: 30%;
      left: 35%;
      height: 50vh;
      width: 30vw;
      z-index: 999;
      border-radius: 15px;
      .rules-container {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;

        .heading {
          order: 1;
          flex-basis: 50%;
          padding: 1rem;
          margin: auto;
        }
        .btnClose {
          order: 2;
          flex-basis: 50%;
          margin: auto;
          img {
            float: right;
            padding-right: 2rem;
          }
        }
        .img-rules {
          margin: auto;
          order: 3;
        }
      }
    }
  }
}
