$scissors-gradient1: hsl(39, 89%, 49%);
$scissors-gradient2: hsl(40, 84%, 53%);
$paper-gradient1: hsl(230, 89%, 62%);
$paper-gradient2: hsl(230, 89%, 65%);
$rock-gradient1: hsl(349, 71%, 52%);
$rock-gradient2: hsl(349, 70%, 56%);
$lizard-gradient1: hsl(261, 73%, 60%);
$lizard-gradient2: hsl(261, 72%, 63%);
$cyan1: hsl(189, 59%, 53%);
$cyan2: hsl(189, 58%, 57%);

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

$radial-gradient1: hsl(214, 47%, 23%);
$radial-gradient2: hsl(237, 49%, 15%);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, $radial-gradient1, $radial-gradient2);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .header {
    margin: 1rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 0.5rem solid #606e85;
    border-radius: 1rem;
    z-index: 111;
    .score {
      width: 8rem;
      height: 8rem;
      background-color: white;
      border-radius: 1rem;
      text-align: center;
      .scr-title {
        color: $score-text;
        letter-spacing: 0.1rem;
        font-weight: 600;
      }
      .scr-val {
        font-size: 3rem;
        color: $dark-text;
        transform: scaleY(1.5);
        margin: 0;
      }
    }
  }
  .paper-icon {
    top: -10rem;
    left: -12rem;
    border: 1.5rem solid $paper-gradient2;
    box-shadow: 0px 5px $paper-gradient1, 0px 5px lightgrey inset,
      0 0 0 3rem #2a3352, 0 0 0 6rem #232e4c, 0 0 0 9rem #1f2a4a;
  }
  .scissors-icon {
    top: -10rem;
    left: 2rem;
    border: 1.5rem solid $scissors-gradient2;
    box-shadow: 0px 5px $scissors-gradient1, 0px 5px lightgrey inset;
  }
  .rock-icon {
    top: 2rem;
    left: -5rem;
    border: 1.5rem solid $rock-gradient2;
    box-shadow: 0px 8px $rock-gradient1, 0px 8px lightgrey inset;
  }
  .main {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .bgTriange {
      z-index: -1;
    }
    .icons {
      position: absolute;
      img {
        position: absolute;
        border-radius: 50%;
        background-color: white;
        padding: 2rem;
        border-radius: 50%;
      }
    }
  }
  .playGame {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .pickedByPlayer,
    .pickedByHouse {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      border-radius: 50%;
      background-color: white;
      padding: 2rem;
      border-radius: 50%;
    }

    p {
      font-weight: 800;
      color: white;
    }
  }
  .result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    a {
      padding: 1rem;
      border: 1px solid white;
      border-radius: 10px;
      color: $dark-text;
      transform: scaleY(1);
      background-color: white;
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    .btnRules {
      padding: 1rem 2rem;
      border: 1px solid white;
      border-radius: 10px;
      text-decoration: none;
      color: white;
      background-color: transparent;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      cursor: pointer;
    }

    .modalBox {
      background-color: white;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 999;

      .rules-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        h1 {
          color: $dark-text;
          transform: scaleY(1.3);
        }
        button {
          cursor: pointer;
          border: none;
          background-color: transparent;
        }
      }
    }
  }
}

@media all and (min-width: 769px) {
  .app-container > footer {
    margin-left: auto;
    margin-right: 2rem;
  }
  .app-container > footer > .modalBox {
    background-color: white;
    position: fixed;
    top: 30%;
    left: 35%;
    height: 50vh;
    width: 30vw;
    z-index: 999;
    border-radius: 15px;
    .rules-container {
      display: flex;
      flex-flow: row wrap;
      height: 100%;
      justify-content: flex-start;
      align-items: flex-start;

      .heading {
        order: 1;
        flex-basis: 50%;
        padding: 1rem;
        margin: auto;
      }
      .btnClose {
        order: 2;
        flex-basis: 50%;
        margin: auto;
        img {
          float: right;
          padding-right: 2rem;
        }
      }
      .img-rules {
        margin: auto;
        order: 3;
      }
    }
  }
}
