html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(to bottom, #1f3756, #141539);
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-container .header {
  margin: 1rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border: 0.5rem solid #606e85;
  border-radius: 1rem;
  z-index: 111;
}

.app-container .header .score {
  width: 8rem;
  height: 8rem;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
}

.app-container .header .score .scr-title {
  color: #2a46c0;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.app-container .header .score .scr-val {
  font-size: 3rem;
  color: #3b4363;
  -webkit-transform: scaleY(1.5);
          transform: scaleY(1.5);
  margin: 0;
}

.app-container .paper-icon {
  top: -10rem;
  left: -12rem;
  border: 1.5rem solid #5671f5;
  -webkit-box-shadow: 0px 5px #4865f4, 0px 5px lightgrey inset, 0 0 0 3rem #2a3352, 0 0 0 6rem #232e4c, 0 0 0 9rem #1f2a4a;
          box-shadow: 0px 5px #4865f4, 0px 5px lightgrey inset, 0 0 0 3rem #2a3352, 0 0 0 6rem #232e4c, 0 0 0 9rem #1f2a4a;
}

.app-container .scissors-icon {
  top: -10rem;
  left: 2rem;
  border: 1.5rem solid #eca922;
  -webkit-box-shadow: 0px 5px #ec9e0e, 0px 5px lightgrey inset;
          box-shadow: 0px 5px #ec9e0e, 0px 5px lightgrey inset;
}

.app-container .rock-icon {
  top: 2rem;
  left: -5rem;
  border: 1.5rem solid #dd405d;
  -webkit-box-shadow: 0px 8px #dc2e4e, 0px 8px lightgrey inset;
          box-shadow: 0px 8px #dc2e4e, 0px 8px lightgrey inset;
}

.app-container .main {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-container .main .bgTriange {
  z-index: -1;
}

.app-container .main .icons {
  position: absolute;
}

.app-container .main .icons img {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 50%;
}

.app-container .playGame {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.app-container .playGame .pickedByPlayer,
.app-container .playGame .pickedByHouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container .playGame img {
  border-radius: 50%;
  background-color: white;
  padding: 2rem;
  border-radius: 50%;
}

.app-container .playGame p {
  font-weight: 800;
  color: white;
}

.app-container .result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
}

.app-container .result-container a {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  color: #3b4363;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  background-color: white;
}

.app-container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.app-container footer .btnRules {
  padding: 1rem 2rem;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.app-container footer .modalBox {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.app-container footer .modalBox .rules-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.app-container footer .modalBox .rules-container h1 {
  color: #3b4363;
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.app-container footer .modalBox .rules-container button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media all and (min-width: 769px) {
  .app-container > footer {
    margin-left: auto;
    margin-right: 2rem;
  }
  .app-container > footer > .modalBox {
    background-color: white;
    position: fixed;
    top: 30%;
    left: 35%;
    height: 50vh;
    width: 30vw;
    z-index: 999;
    border-radius: 15px;
  }
  .app-container > footer > .modalBox .rules-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .app-container > footer > .modalBox .rules-container .heading {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 1rem;
    margin: auto;
  }
  .app-container > footer > .modalBox .rules-container .btnClose {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: auto;
  }
  .app-container > footer > .modalBox .rules-container .btnClose img {
    float: right;
    padding-right: 2rem;
  }
  .app-container > footer > .modalBox .rules-container .img-rules {
    margin: auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=index.css.map */